@import "../mixins/navBar";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@include navBar_style();

:root {
  font-size: 16px;
  font-family: "Open Sans";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 245, 245);

  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background: black;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(91, 0, 211);
  }
}

main {
  margin-left: 14rem;
  display: flex;
  flex-direction: column;
  height: 90vh;

  h1 {
    margin-top: 3rem;
    font-family: "Open Sans";
    font-size: 1.5rem;
    font-weight: bold;
    color: darkblue;
    //margin: 0;
  }

  .tabHeader {
    align-self: center;
    margin-top: 3rem;
    width: 60vw;
    padding-bottom: 0.75rem;
    border-bottom: rgb(51, 51, 51) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .tab {
      a {
        text-decoration: none;
        &:hover {
          font-weight: bold;
          color: rgb(6, 15, 129);
        }
      }
    }
  }

  .studentsProfile {
    display: flex;
    flex-direction: row;

    .searchTable {
      padding: 3rem;

      .table {
        border-style: solid;
        margin-top: 1rem;
        display: block;
        height: 450px;
        overflow-y: scroll;

        th {
          max-width: 100px;
          .search-input {
            width: 100%;
          }
        }

        tr {
          background-color: #ffffff;
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
          line-height: 1.2rem;
        }
      }
    }

    .workArea {
      margin-top: 5rem;
      align-self: center;
      display: grid;
      grid-template-columns: repeat(2, 33rem);
      grid-template-rows: repeat(2, 23rem);
      grid-gap: 1.5rem;
      grid-template-areas:
        "c1 c2"
        "c3 c3";

      .newStudentBtn {
        display: none;
      }
    }

    .container {
      background-color: rgb(209, 209, 209);
      border-radius: 1rem;
    }

    .c1 {
      grid-area: c1;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      div {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        th {
          text-align: right;
        }
        .inputInfo {
          width: 100px;
          display: none;
        }
      }
    }

    .c2 {
      grid-area: c2;
    }

    .c3 {
      grid-area: c3;
    }

    .studentProfileMenu {
      padding: 5rem;
      display: flex;
      flex-direction: column;

      /*
      #addStudent{

      }
      */
    }
  }
}
